<div class="contenedor">

    <div class="presentacion">
        <h1>TRATOS</h1>
        <h2>Aquí encontrarás tutoriales, juegos, trucos... para estar al día en el mundo de la programación. </h2>
    </div>
    <div class="tratos">
        <ng-container *ngFor = "let trato of tratos">
            <div class="card">
                <h1 class="title">{{trato.title}}</h1>
                <h4>{{trato.description}}</h4>
                <button><a href={{trato.link}}>{{trato.type}}</a></button>
                <img src={{trato.photo}}>
            </div>
        
        </ng-container>
    </div>
</div>

 
      
  
      


