
<div class="main">
    <div class= "container c1">
        
            <div class="fotografia">   
                <!-- <h2> {{user.name}} {{user.last_name}}</h2>
                <img id=img src="{{user.photo}}" alt=""> -->
            </div>
            <div class="datos">   
                <!-- Name:       <input class="profile" type="text" value="{{user.name}}"> 
                Last name:  <input class="profile" type="text" value="{{user.last_name}}"> 
                Email:      <input class="profile" type="text" value="{{user.email}}"> -->
                
            </div>
        
    </div>
    <div class= "container c2">
        <div class title>
            <h3>Edit profile</h3>
        </div>
        <div class="formulario">
            <form action="" #input>
                <input type="text" #input1
                placeholder="Name">
                <input type="text" #input2
                placeholder="Last name">
                <input type="text" #input3
                placeholder="Email">
                <input type="text" #input4
                placeholder="Photo url">
        
            </form>
        </div>
        <div class="boton">
            <!-- <button (click)="enviar(input1.value, input2.value, input3.value, input4.value)">Save</button> --> -->
        </div>
        
    </div>

</div>
