.contenedor{
    height: 90vh;
    width: 100wh;
    background-image: url("/assets/images/img2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.presentacion{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128, 0.562);
}
.tratos{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
}
.card{
    border: rgb(0, 0, 3) 5px dotted;
    height: 400px;
    width: 350px;
    margin: 100px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.493);
}

h1{
        font-family: "Rubik Wet Paint", system-ui;
        font-weight: 400;
        font-style: normal;
}
.title{
    font-size: 15pt;
}
h2{
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: x-large;
}
h4{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
h5{
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
}

button{
    height: 40px;
    width: 90px;
    padding:2px;
    background-color: rgb(94, 255, 0);
    border: 1px black solid;
    border-radius: 10px;
   
}
#modal{
    height: 200px;
    width: 300px;
    flex-wrap: wrap;
    font-size: large;
    padding:15px;
}